body {
    padding: 0;
    margin: 0px 0px 0px 500px;
    width: 426px;
}

.dykyi-but_image_placeholter_1 {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: auto;
}

.dykyi-header {
    display: flex;
    background-color: #212121;
    height: 70px;
    width: 425px;
}

.dykyi-back {
    margin-top: 34px;
    margin-left: 20px;
}

.dykyi-headText {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    margin-top: 30px;
    margin-left: 30px;
}

.dykyi-img_more {
    position: relative;
    right: -30px;
    top: 34px
}

.dykyi-more {
    position: absolute;
    width: 12px;
    height: 24px;
    flex-shrink: 0;
}

.dykyi-image_placeholter_1 {
    width: 425px;
    height: 1100px;
    position: relative;
    background-color: #303030;

}

.dykyi-image-6 {
    width: 425px;
    height: 325px;
    background-image: url(../css/images/image-6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.dykyi-homes_1 {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 425px;
    height: 57px;
    flex-shrink: 0;
    background-image: url(../css/images/image-placeholder1.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.dykyi-but_image_placeholter_1 {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 100px;
    margin-top: 15px;
}

.dykyi-img_image_placeholter_2 {
    width: 68px;
}

.dykyi-content-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px 0px 20px;
    color: rgba(255, 255, 255, 0.7);
}

.dykyi-coments-content {
    padding: 20px 20px 0px 20px;
}

.dykyi-header-text-content {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: rgba(255, 255, 255);
}

.dykyi-coments {
    display: flex;
}

.dykyi-coments-1 {
    padding-top: 30px;
    display: flex;
}

.dykyi-avatar-img {
    width: 40px;
    height: 40px;
}

.dykyi-img-text-comment {
    padding-left: 20px;
    width: 320px;
}

.dykyi-next-event {
    padding: 20px 20px 0px 20px;
}

.dykyi-header-next-event {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.dykyi-img-event-text {
    display: flex;
}

.dykyi-button-submit {
    height: 42px;
    width: 385px;
    color: rgb(255, 255, 255);
    background: rgba(57, 120, 78, 1);
    border: 0;
}

.dykyi-but-q {
    padding: 10px 20px 10px 20px;

}

@media (max-width: 426px) {

    body {
        padding: 0;
        margin: 0 ;
        width: 426px;
    }

    .dykyi-header {
        display: flex;
        background-color: #212121;
        height: 70px;
        width: 425px;
    }

    .dykyi-back {
        margin-top: 34px;
        margin-left: 20px;
    }

    .dykyi-headText {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #FFF;
        margin-top: 30px;
        margin-left: 30px;
    }

    .dykyi-img_more {
        position: relative;
        right: -30px;
        top: 34px
    }

    .dykyi-more {
        position: absolute;
        width: 12px;
        height: 24px;
        flex-shrink: 0;
    }

    .dykyi-image_placeholter_1 {
        width: 425px;
        height: 1100px;
        position: relative;
    }

    .dykyi-image-6 {
        width: 425px;
        height: 325px;
        background-image: url(../css/images/image-6.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
    }

    .dykyi-homes_1 {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 425px;
        height: 57px;
        flex-shrink: 0;
        background-image: url(../css/images/image-placeholder1.png);
        background-repeat: no-repeat;
        background-size: 100%;

    }

    .dykyi-but_image_placeholter_1 {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        width: 100px;
        margin-top: 15px;
    }

    .dykyi-img_image_placeholter_2 {
        width: 68px;
    }

    .dykyi-content-text {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0px 20px 0px 20px;
        color: rgba(255, 255, 255, 0.7);
    }

    .dykyi-coments-content {
        padding: 20px 20px 0px 20px;
    }

    .dykyi-header-text-content {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        color: rgba(255, 255, 255);
    }

    .dykyi-coments {
        display: flex;
    }

    .dykyi-coments-1 {
        padding-top: 30px;
        display: flex;
    }

    .dykyi-avatar-img {
        width: 40px;
        height: 40px;
    }

    .dykyi-img-text-comment {
        padding-left: 20px;
        width: 320px;
    }

    .dykyi-next-event {
        padding: 20px 20px 0px 20px;
    }

    .dykyi-header-next-event {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .dykyi-img-event-text {
        display: flex;
    }

    .dykyi-button-submit {
        height: 42px;
        width: 385px;
        color: rgb(255, 255, 255);
        background: rgba(57, 120, 78, 1);
        border: 0;
    }

    .dykyi-but-q {
        padding: 10px 20px 10px 20px;

    }
}