.header {
  padding: 40px 16px 16px 16px;
  background-color: #212121;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-title {
  font-size: 20px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 32px;
}

.header-icon {
  margin-right: 32px;
  cursor: pointer;
  display: flex;
  height: 100%;
}

.header-more-icon {
  cursor: pointer;
}

.header-space-between {
  justify-content: space-between;
}
