
.body{
    width: 360px;
    margin: 0 auto;
    background: #303030;
}

.header{
    background: #212121;
    height: 80px;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items:center;
}

.header img{
    margin-left: 16px;
    margin-right: 32px;
}

.content{
    background: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

.content-child{
    position: relative;
    margin-bottom: 10px;
}

.overlay{
    height: 68px;
    width: 348px;
    color: #fff;
    font-size: 18px;
    background-color: rgba(57, 120, 78, 0.60);
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;   
}

.el{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.el p{
    color: #fff;
    text-decoration: none;
}
.el p:hover {
    text-decoration: underline; 
    color: #000;
}

.footer{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    height: 48px;
}

.main_menu{
    width: 360px;
    position: relative;
    background: #fafafa;
    background-color: #3a6047;
}

.header_menu{
    height: 200px;
    width: 300px;
    background-image: linear-gradient(
    270deg,
     hsl(240deg 100% 20%) 0%,
     hsl(217deg 100% 35%) 10%,
     hsl(207deg 100% 42%) 20%,
     hsl(191deg 100% 40%) 30%,
     hsl(162deg 100% 42%) 40%,
     hsl(136deg 100% 50%) 50%,
     hsl(125deg 80% 60%) 60%,
     hsl(120deg 59% 61%) 70%,
     hsl(118deg 41% 60%) 80%,
     hsl(115deg 26% 58%) 90%,
     hsl(113deg 12% 55%) 100%
    );
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.header_menu img{
    margin-top: 48px;
}

.middle_menu{
    width: 300px;
    display: flex;
    font-size: 20px;
    position: relative;
    background: #FAFAFA;
}

.images,
.text{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.images li{
    margin-bottom: 25px;
    margin-left:0;
    height: 24px;
    width: 24px;
}

.text li {
  margin-bottom: 26px;
  text-align: left;
  margin-left: 15px;
  
}

.right_menu{
    height: 583px;
    width: 60px;
    background: rgba(50, 50, 50, 0.9);
    position: absolute;
    top: 0;
    right: 0;
}

.right_menu img{
    margin-left: 16px;
    margin-top: 40px;
    height: 30px;
    width: 30px;
}

.menu_footer{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
}

.page_body{
    width: 360px;
    margin: 0 auto;
    background: #303030;
}

.page_header{
    background: #212121;
    height: 80px;
    font-size: 22px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page_content{
    position: relative;
}
.page_content_child{
    position: relative;
}

.page_content img{
    width: 100%;
}

.page_overlay{
    height: 48px;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.70);
    position: absolute;
    bottom: 0;
}

.page_overlay img{
    width: 68px;
    height: 24px;
    right: 0;
    margin: 12px 16px 12px 276px;
}

 .page_text{
    background: #303030;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.70);
 }

 .page_text p{
    margin-left: 16px;
 }

 .response{
    color:#fff;
    font-size: 18px;
    margin-left: 20px;
 }

 .elem1,
 .elem2{
    display: flex;
 }

 .elem1 img{
    height: 40px;
    width: 40px;
    margin: 19px 12px 0 16px;
 }

 .elem1 p{
    background: #757575;
    color: rgba(255, 255, 255, 0.70);;
    border-radius: 0 20px 20px 20px;
    padding: 12px 14px;
    margin-right: 12px;
 }

 .elem2 img{
    height: 40px;
    width: 40px;
    margin: 19px 12px 0 16px;
 }

 .elem2 p{
    background: #757575;
    color: rgba(255, 255, 255, 0.70);
    border-radius: 0 20px 20px 20px;
    padding: 12px 14px 11px 12px;
    margin-right: 12px;    
 }

 .next_event{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
 }

 .event_element1,
 .event_element2{
    display: flex;
    align-items: center;
 }

 .event_element1 img{
    height: 24px;
    width: 24px;
    margin:17px 9px 16px 20px;
 }

 .event_element2 img{
    height: 24px;
    width: 24px;
    margin: 16px 9px 34px 20px;
 }

 .event_element1 p{
    color: #6FB285;
    font-size: 16px;
    margin-left: 9px;
 }

 .button{
    width: 320px;
    height: 42px;
    background: #39784E;
    color: #fff;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 34px 20px 30px 20px;
 }

 .page_footer{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
}

.header button{
    background: #212121;
}

.right_menu button{
    background: rgba(50, 50, 50, 0.9);
}

 


 











