body {
  display: flex;
}

.browse {
  background-color: #303030;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.header_1 {
  background-color: #212121;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  display: flex;
  height: 75px;
}

.menu_text {
  margin-top: auto;
  margin-bottom: auto;
}

.menu_img {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  height: 24px;
}

.news_setting {
  margin-top: 30px;
  background-size: cover;
  height: 270px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding-bottom:50px;
}


.news_1 {
  background-image: url("../img/img_news_1.png");
}

.news_2 {
  background-image: url("../img/img_news_2.png");
}

.news_3 {
  background-image: url("../img/img_news_3.png");
}

.news_4 {
  background-image: url("../img/img_news_4.png");
}

.news_5 {
  background-image: url("../img/img_news_5.png");
  margin-bottom: 30px;
}

.elements_1 {
  position: absolute;
  bottom: 0;
  background: rgba(57, 120, 78, 0.60);
  width: 475px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.text {
  color: aliceblue;
  margin-left: 10px;
  font-size: 20px;
}

.btn {
  margin-top: auto;
  margin-bottom: auto;
}


.side_menu {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
}

.side_menu.opened {
  display: block;
  position: relative;
  width: auto;
}

#closeMenuBtn {
  cursor: pointer;
}
/* 
.page.opened {
  margin-left: 250px;
} */

.front {
  display: flex;
}

.img_close {
width: 24px;
height: 24px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

.user_info {
  background-image: url(../img/pixel_background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  font-size: 23px;
  color: aliceblue;
}

.page_user {
  width: 440px;
}

.close {
  background-color: #303030;
  width: 60px;
}

.images {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: end;
  gap: 39px;
  margin-top: 40px;
  margin-right: 20px;
}

.btn_panel {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.text_block {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}


.details_page_1 {
  width: 450px;
  background-color: #303030;
  margin-left: auto;
  margin-right: auto;
}

.back_btn {
  background-color: #212121;
  background-image: url(../img/back_copiya.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 22px;
  background-position: center;
  margin-left: 13px;
}

.details_header {
  background-color: #212121;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.details_header img {
  margin-left: 15px;
  margin-right: 23px;
}

.preview_img {
  background-image: url(../img/img_news_1.png);
  background-size: cover;
  height: 270px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
}

.elements_2 {
  background: rgba(32, 32, 32, 0.70);
  width: 450px;
  height: 50px;
}

.btn_1 {
  margin-right: 20px;
  display: flex;
  justify-content: end;
  margin-top: 12px;
}

.preview_text {
  color: rgba(255, 255, 255, 0.70);
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
}

.text_feed {
  color: aliceblue;
  font-size: 22px;
  margin-left: 22px;

}

.feed_1 {
  display: flex;
}

.feed_1_img {
  margin-left: 18px;
}

.feed_1_text {
  color: rgba(255, 255, 255, 0.70);;
  background-color: #757575;
  border-radius: 0px 20px 20px 20px;
  margin-right: 18px;
  margin-left: 10px;
  padding: 0px 15px;
  margin-bottom: 15px;
}

.text_1 {
  margin-left: 10px;
}

.event {
  color: #6FB285;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-size: 17px;
}

.reserve_btn {
  color: aliceblue;
  font-size: 14px;
  background-color: #39784E;
  height: 42px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}

.reserve_btn p {
  margin: 0;
}