body {
    margin: 0;
}

header {
    display: flex;
    height: 80px;
    background-color: #212121;
    color: white;
    margin: 0;
    align-items: center;
}


.headerText {
    width: 145px;
    height: 24px;
    margin-top: 40px;
    margin-left: 50%;
}

.tours {
    display: flex;
    flex-direction: column;
    background-color: #303030;
}


a {
    text-decoration: none;
    width: auto;
    height: auto;
}

.tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    background-color: rgba(57, 120, 78, 0.6);
    color: white;
    margin-left: 8PX;
}

.tour p {
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
    margin-left: 8px;
    width: 247px;
}

.button {
    flex-shrink: 1;
    filter: invert(99%) sepia(96%) saturate(16%) hue-rotate(35deg) brightness(105%) contrast(100%);
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 10px;
}

.tourImg {
    width: 98%;
    height: auto;
    margin: 13px;
}