* {
    margin: -0;
    padding: -0;
}

.header {
    background: black;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: white;
}

.tag {
    margin-left: 40px;
}

.content {
    min-height: 95vh;
    background: #303030;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.description {
    background: #39784E;
    height: 60px;
    width: 100%;
    opacity: 75%;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0;
}

.postblock {
    padding-top: 30px;
    width: 348px;
    height: 266px;
    position: relative;
}

.desctext {
    width: 70%;
    flex-wrap: wrap;
}

.threestring{
    margin-left: 10px;
}