*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}
.menu {
    text-align: center;
    list-style: none;
    display: none;
    width: 300px;
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
}
.menu li{
    font-size: 15px;
    margin-top: 5px;
}
.btn-close{
    background: #000;
    border: none;
    display: flex;
}
.lis{
display: flex;

margin: 0 15px;
}
.lis svg{
    margin: 0px 15px;
}
/* Стили для кнопки открытия меню */
.open-menu-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: auto;
}
.header{
    width: 100%;
    position: relative;
}
.menu_header{
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    background: #000;
    display: flex;
}
.menu_text{
    color: whitesmoke;
    margin-right: auto;
}
.section{
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    background: rgba(32, 32, 32, 0.70);
}
.cart{
    width: 100%;
    position: relative;
    display: inline-block;
    background: #303030;
text-align: center;
}
.cart img{
    width: 95%;
    border-radius: 6px;
    margin-top: 5px;

}
.placeholder{
    position: absolute;
    margin-top: -40px;
    margin-left: 17.2px;
    width: 95%;
    border-radius: 5px;
    
    background: #39784E99;
    font-size: 16px;
    color: whitesmoke;

    display: flex;
}
.section-btn{
    width: 50%;
    margin: 0 auto;
    background: #000;
    margin-top: 40px;
    justify-content: center;
}
.bar{
    width: 100%;
    display: flex;
   justify-content: center;
    list-style: none;
}
.bar img{
    width: 40px;
    margin: 0px 15px;
    
}
.ser{
    background:rgba(32, 32, 32);
}
.placeholder__black{
    position: absolute;
    margin-top: -28px;
    margin-left: 16px;
    width: 95%;
    
    background:rgba(32, 32, 32, 0.70);
    font-size: 16px;
    color: whitesmoke;
    
    display: flex;
}
.placeholder__black svg{
    margin-left: auto;
}
.text-sec h1{
   padding: 10px;
color: rgba(233, 233, 233, 0.7);
font-family: Roboto;
font-size: 16px;
font-style: normal;
text-align: center;
}
.vid{
    color: #FFF;
font-family: Roboto;
font-size: 18px;

margin: 0px 20px;
}
.vid h1{
    text-align: start;
  padding-top: 20px;
}
.vid{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ht{
    width: 100%;
    background:rgba(32, 32, 32);
   
}
.ht{
    width: 100%;
}
.ht button{
  text-align: center;
  justify-content: center;
}
.ht h1{
 margin: 0px 20px;
 color: #FFF;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.ht h2{
 color: #6FB285;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
margin: 0px 20px;
line-height: 24px; /* 150% */
}

.btn-ser{
    padding: 15px;
    background: #39784E;
    width: 50%;
    border: none;
  
   
    
}