<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View 1</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/view.css">
  <link rel="stylesheet" href="../css/response.css">
  <link rel="stylesheet" href="../css/order.css">
</head>
<body>

<header class="header header-space-between">
  <a href="../index.html">
    <img class="header-icon" src="../img/back.svg" alt="back">
  </a>
  <div class="header-title">Тур вихідного дня “Гостинність Чорнобаївки”</div>
  <img class="header-more-icon" src="../img/more.svg" alt="more">
</header>

<div>
  <div class="responsive">
    <div class="view">
      <img class="view-img" src="../img/source_image_1.png" alt="view">
      <div class="view-title">
        <img src="../img/buttons.svg" alt="buttons">
      </div>
    </div>
    <div class="view-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna wirl aliqua. Up exlaborum incididunt quis nostrud exercitatn. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua.
    </div>
  </div>


  <div class="responsive">
    <div class="response">
      <div class="response-title">
        Відгуки
      </div>
      <div class="response-user">
        <img class="response-user-img" src="../img/Oval.svg" alt="alt">
        <div class="response-user-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna wirl aliqua. Up exlaborum incididunt quis nostrud exercitatn.
        </div>
      </div>

      <div class="response-user">
        <img class="response-user-img" src="../img/Oval.svg" alt="alt">
        <div class="response-user-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </div>
      </div>
    </div>

    <div class="order">
      <div class="order-title">
        Наступна подія
      </div>
      <div class="order-item">
        <img src="../img/Group.svg" alt="group">
        15 травня 2022
      </div>
      <div class="order-item">
        <img src="../img/social.svg" alt="group">
        Кількість місць необмежена
      </div>

      <button class="order-button">
        ЗАБРОНЮВАТИ
      </button>
    </div>
  </div>

</div>

</body>
</html>
