<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/event.css">

  <title>Event</title>
</head>
<body>
<header>
  <div class="header">
    <div>
      <a href="main.html">
        <button class="nav-item back">
          <img src="../img/buttons/back.png" alt="back">
        </button>
      </a>
    </div>
    <div class="title">Тур вихідного дні "Чор...</div>
    <div>
      <button class="nav-item options">
        <img src="../img/buttons/options.png" alt="options">
      </button>
    </div>
  </div>
</header>

<main>
  <div class="card">
    <img src="../img/cards/card-1.png" alt="card">
    <div class="title">
      <div class=""></div>
      <div class="buttons">
        <img src="../img/buttons/favorite.png" alt="favourite">
        <img src="../img/buttons/share.png" alt="share">
      </div>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna wirl aliqua. Up exlaborum incididunt quis nostrud exercitatn. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua.
  </p>

  <div class="feedbacks">
    Відгуки
    <div class="feedback">
      <div class="profile">
        <img src="../img/people/human-1.png" alt="human">
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna wirl aliqua. Up exlaborum incididunt quis nostrud exercitatn.
      </div>
    </div>
    <div class="feedback">
      <div class="profile">
        <img src="../img/people/human-2.png" alt="human">
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </div>
    </div>
  </div>

  <div class="additional-info">
    Наступна подія
    <div class="item">
      <table>
        <tr>
          <td><img src="../img/icons/date.png" alt="date"></td>
          <td>15 травня 2022</td>
        </tr>
        <tr>
          <td><img src="../img/icons/friends.png" alt="date"></td>
          <td>Кількість місць необмежена</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="order">
   <button class="order-button">ЗАБРОНЮВАТИ</button>
  </div>
</main>
</body>
</html>
