// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
        .body__news img{
            
                width: 100%;
                height: auto;
            
        
        }
        .body__placeholder img{
            width: 10%;
            height: 24px;
            display: inline-flex;
            margin-left: auto;
        }
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
        img{
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-width: $breakpoint480) {
        max-width: none;
        img{
            width: 100%;
            height: auto;
        }
        .body{
            &__placeholder{
                font-size: 14px;
            }
        }
    }
    @media (max-width:$breakpoint320) {
        max-width: none;
        img{
            width: 100%;
            height: auto;
        }
        .body{
            &__placeholder{
                font-size: 9px;
                display: flex;
            }
        }
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
    background: #303030;
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
